body{
    background-color:grey;
    margin: 0px;
    padding: 0px;
}
header{
    padding: 16px 78px;
    background-color: #fff;
}
.logo{
    width: 130px;
    font-size: 32px;
    color: #0084ff;
}
.logost{
    margin: 0px;
    font-weight: 500;
    font-style: italic;
}
